.FeedbacButton {
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: rgb(228, 228, 216);
  color: rgb(118, 148, 9);
  cursor: pointer;
  outline: none;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
  transition: box-shadow 250ms linear;
}
.FeedbacButton:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px #07ddec73;
}

.FeedbacButton:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px #bd06ad73;
}
